In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
data = pd.read_csv("/kaggle/input/digit-recognizer/train.csv")

In [3]:
data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
x = data.iloc[:, 1:]
y = data.iloc[:, 0]
print(x.shape)
print(y.shape)

(42000, 784)
(42000,)

# Scaling Values To Standard Values

In [5]:
scalar = StandardScaler()

In [6]:
scalar.fit_transform(x)

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

# Train Test Split

In [7]:
X_train,X_test,y_train,y_test=train_test_split(x, y, test_size=0.20)

In [8]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(33600, 784)
(8400, 784)
(33600,)
(8400,)

# Initial Model Training

In [9]:
print(round(np.sqrt(len(X_train))))

183.0

In [10]:
k = 183

In [11]:
knn=KNeighborsClassifier(n_neighbors=k)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=183)

In [12]:
y_pred = knn.predict(X_test)
accuracy_score(y_test, y_pred)

0.9146428571428571

In [13]:
test_data = pd.read_csv("/kaggle/input/digit-recognizer/test.csv")

In [15]:
y_pred_test_data = knn.predict(test_data)

In [25]:
ids = []

In [26]:
for i in range(1, 28001):
    ids.append(i)

In [29]:
d = {"ImageId": ids, "Label":y_pred_test_data}

In [30]:
d = pd.DataFrame(d)

In [ ]:
d.to_csv("sub.csv", index=False)

In [17]:
pd.read_csv("/kaggle/input/digit-recognizer/sample_submission.csv")

       ImageId  Label
0            1      0
1            2      0
2            3      0
3            4      0
4            5      0
...        ...    ...
27995    27996      0
27996    27997      0
27997    27998      0
27998    27999      0
27999    28000      0

[28000 rows x 2 columns]

# Finding Optimal Value Of K Using effect Train Test Error

In [14]:
error_train=[]
error_test=[]

In [ ]:
for i in range(1, 500):
    knn=KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train,y_train)
    x=confusion_matrix(y_train,knn.predict(X_train))
    y=confusion_matrix(y_test,knn.predict(X_test))
    error_train.append((x[0][1]+x[1][0])/x.sum())
    error_test.append((y[0][1]+y[1][0])/y.sum())

In [ ]:
plt.plot(range(1,500),error_train,label='Training Error Rate')
plt.plot(range(1,500),error_test,label='Test Error Rate')
plt.xlabel('K Value')
plt.ylabel('Error')
plt.legend()

In [ ]:
y_pred